*{
    margin: 0px;
    padding: 0px;
}

.header-nav{
    background-color: white;
    width: 100%;
    height: 150px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    position: fixed;
    z-index: 1;
}

.nav-container{
    height: 100%;
    margin-left: 100px;
    margin-right: 100px;
}

.header-contact{
    text-align: right;
    margin-top: 1%;
    margin-right: 6%;
}

.whatsapp-number{
    text-decoration: none; 
    color: black; 
    font-size: 20px;
    font-weight: bold;
}

.whatsapp-number:hover{
    color: #3eb489;
}

.whatsapp-icon{
    width: 15px;
    height: 18px;
}

.nav-body{
    height: 100%;
    display: flex;
}

.nav-logo-div{
    width: 20%;
    
}

.nav-logo{
<<<<<<< HEAD
    margin-top: -7%;
    height: 145px; 
    width: 330px
=======
    width: 25%;
    height: 100px;
>>>>>>> f1c7985a370bbfb28d73edc6631bb4d87b9819ca
}

.nav-menu-div{
    width: 60%;
    margin-top: 2%;
}

.nav-btn-div{
    width: 20%;
    margin-top: 2%;
}

.navbar-div1{
    width: 70%;
}

.nav-btn{
    margin-left: 30%;
}

.nav-btn-list{
    float: left;
    padding-right: 5%;
    font-size: 21px;
}

.nav-btn-list>a{
    background-color: #1E88E5;
    padding: 8px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.nav-btn-list > a:hover{
    background-color: tomato;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

ul{
    list-style-type: none;
}

.nav-manu-list1{
    float: left;
    padding-right: 5%;
    font-size: 21px;
}

.nav-manu-list1>a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.nav-manu-list1>a:hover{
    color: tomato;
}


.nav-manu-list2{
    float: left;
    margin-right: 28px;
    margin: 0 auto;
    padding-left: 10px;
}

.nav-manu-list2>a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}



.btn-reg:hover{
    background-color: tomato;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}


.body-container{
    height: 100vi;
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 12%;
}

.section1{
    width: 100%;
    display: flex;
    padding: 10px;
}

.section1-body{
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.section1-body-content{
    margin-top: 3%;
    margin-left: 2%;
}

.section1-body-content > h2{
    text-align: justify;
    margin-top: 130px;
    padding-left: 5px;
    padding-right: 40px;
    font-weight: 600;
    font-size: 36px;
    line-height: 50px;
}

.section1-body-content > p{
    padding-left: 5px;
    padding-top: 15px;
}

.section1-btn{
    text-decoration: none;
    color: white;
    background-color: #1E88E5;
    font-weight: bold;
    font-size: 20px;
    border-radius: 7px;
    padding: 10px 25px;
}

.section1-btn:hover{
    background-color: tomato;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.section1-pic-div{
    width: 50%;
    text-align-last: center;
}

.section1-pic{
    height: 745px;
}


.section2{
    height: 275px;
    position: relative;
}

.section2-row{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 145px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.section2-row-clm{
    float: left;
    width: 25%;
    height: 145px;
}


.section2-row-clm-body{
    height: 100%;
    margin: 10px;
    text-align: center;
    border-radius: 10px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    position: relative;
}


.section2-row-clm-body-details{
    width: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.section3{
    width: 100%;
    height: 800px;
}

.section3-container{
    height: 100%;
    margin: 5px;
    margin-top: 80px;
}

.section3-container-header{
    text-align: center;
}

.section3-container-body{
    height: 100%;
    margin-top: 30px;
    display: flex;

}

.section3-container-body-clm1{
    height: 100%;
    width: 50%;
}

.section3-container-body-clm2{
    height: 100%;
    width: 50%;
}

.section3-clm1-content{
    margin-left: 35%;

}

.section3-clm1-content-body{
    margin-top: 7px;
}

.section3-clm1-content-header{
    margin-bottom: 20px;
}

.section3-clm1-content-body-span{
    padding-left: 10px;
}


.section3-clm2-content{
    margin-left: 25%;
}


.section4{
    width: 100%;
    height: 500px;
    padding-top: 100px;
    border: 1px solid black;
}

.section4-header >h2{
    text-align: center;
    font-weight: bold;
}